    <table style="margin-left:70px;margin-top:10px;" border="0">
        <tr>
            <td style="width:180px;" height="23">
                父栏目：
            </td>
            <td style="width:300px;" height="23">
                &nbsp;{$ptitle}
            </td>
        </tr>
        <tr>
            <td  height="23">
                栏目ID：
            </td>
            <td  height="23">
                &nbsp;<input class="easyui-validatebox" value="{$classid}" {$classidreadonly} type="text" id="classid" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td height="23">
                栏目名称：
            </td>
            <td height="23">
                &nbsp;<input class="easyui-validatebox" value="{$title}" type="text" id="alertclass_title" data-options="required:true" />
            </td>
        </tr>
    </table>
<script>
    function articleclass_save()
    {
        var pid = '{$pid}';
        var classid = '{$classid}';
        var title = '{$title}';
        $.ajax({
            url: '{$actionurl}',
            type: 'post',
            dataType: 'text',
            data: {'pid': pid:'classid':classid,'title':title},
            success:function (text) {
                // body...
                alert(text);
            }
        });
    }
</script>

